Repository Ohto-Ai-Dev/vNes, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, 3rd party, ui, CI action

.github/labeler.yml:

documentation:
- docs/*
- mkdocs.yml
- overrides/*

3rd party:
- src/inc/*

source:
- any: ['src/**/*.cpp', 'src/**/*.hpp', 'src/**/*.c', 'src/**/*.h']
  all: ['!src/inc/*']

ui:
- src/**/*.ui

CI action:
- .github/workflows/*.yml

Add qt file ignore
  .gitignore
Labels: none

Add qt file ignore (#13)
  .gitignore
Labels: none

Update windows.yml
  .github/workflows/windows.yml
Labels: CI action

Update windows.yml
  .github/workflows/windows.yml
Labels: CI action

Update windows.yml (#14)
  .github/workflows/windows.yml
Labels: CI action

Fix action upload-artifact
  .github/workflows/windows.yml
Labels: CI action

Fix action upload-artifact (#15)
  .github/workflows/windows.yml
Labels: CI action

Update windows.yml
  .github/workflows/windows.yml
Labels: CI action

Update windows.yml
  .github/workflows/windows.yml
Labels: CI action

Update windows.yml (#16)
  .github/workflows/windows.yml
Labels: CI action

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Update bug_report.md (#17)
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md (#18)
  README.md
Labels: none

Show website option in menu
  src/VirtualNES.cpp
  src/VirtualNES.ui
Labels: ui

Show website option in menu (#19)
  src/VirtualNES.cpp
  src/VirtualNES.ui
Labels: ui

Add NesRom
  src/VirtualNES.cpp
  src/VirtualNES.ui
  src/VirtualNES.vcxproj
  src/VirtualNES.vcxproj.filters
  src/nes/NesRom.hpp
Labels: ui

Add Cartridge,Rominfo,Mapper
  src/Cartridge.cpp
  src/Cartridge.h
  src/Mapper.cpp
  src/Mapper.h
  src/Rominfo.h
  src/VirtualNES.h
  src/VirtualNES.vcxproj
  src/VirtualNES.vcxproj.filters
Labels: none

Change filecode UTF-8
  src/Cartridge.cpp
  src/Cartridge.h
  src/Mapper.cpp
  src/Mapper.h
  src/Rominfo.h
Labels: none

Add LoadRom get size
  src/Cartridge.cpp
  src/Cartridge.h
  src/Mapper.cpp
  src/Mapper.h
  src/Rominfo.h
Labels: none

Add get LoadRom size
  src/Cartridge.cpp
  src/Cartridge.h
  src/Mapper.cpp
  src/Mapper.h
  src/Rominfo.h
Labels: none

Add NesRom (#21)
  src/VirtualNES.cpp
  src/VirtualNES.ui
  src/VirtualNES.vcxproj
  src/VirtualNES.vcxproj.filters
  src/nes/NesRom.hpp
Labels: ui

Change character format
  src/Cartridge.cpp
  src/Cartridge.h
  src/Mapper.h
  src/Rominfo.h
  src/VirtualNES.h
Labels: none

Prefect code format
  src/Cartridge.cpp
  src/Cartridge.h
  src/Mapper.h
  src/Rominfo.h
Labels: none
